/ partial:partials/_sidebar.html
%nav#sidebar.sidebar.sidebar-offcanvas
  %ul.nav
    %li.nav-item
      %a.nav-link{href: "/"}
        %i.icon-grid.menu-icon
        %span.menu-title Dashboard
/ partial
